@model IEnumerable<Excercise12Garage2.Models.ViewModels.VehicleViewModel>

@{
    ViewData["Title"] = "Parked vehicles";
}

<h1 class="display-3 w-25">Parked vehicles</h1>

<br/>

<form asp-controller="Vehicles" asp-action="SearchFor" method="get">
    <input type="hidden" id="sortOrder" name="sortOrder" value="@ViewBag.SortOrder" />
    <input type="hidden" id="oldSortBy" name="oldSortBy" value="@ViewBag.OldSortBy" />
    <div class="form-group row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" id="txtSearchRegistrationNumber" name="txtSearchRegistrationNumber" placeholder="Search for Registrationnumber" value="@ViewBag.SearchFor" />
                <button class="btn btn-dark" id="search" type="submit">Search</button>
            </div>
        </div>
    </div>
</form>

<hr />

<p>
    <a class="btn btn-secondary" asp-action="Park">Park vehicle</a>
</p>

@if (Model != null && Model.Count() > 0)
{
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
                <a href='@Url.Action("Sort", "Vehicles", new { sortBy = "RegistrationNumber", sortOrder = ViewBag.SortOrder, txtSearchRegistrationNumber = ViewBag.SearchFor })' title="Sort">
                <i class="bi bi-arrow-down-up"></i></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfArrivalAsString)
                <a href='@Url.Action("Sort", "Vehicles", new { sortBy = "TimeOfArrival", sortOrder = ViewBag.SortOrder, txtSearchRegistrationNumber = ViewBag.SearchFor })' title="Sort">
                    <i class="bi bi-arrow-down-up"></i>
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfArrivalAsString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkedTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new {@class = "text-light btn btn-secondary btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "text-light btn btn-secondary btn-sm" }) |
                    @Html.ActionLink("Leave the garage", "Remove", new { id = item.Id }, new { @class = "text-light btn btn-secondary btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <div>
        <p>No vehicle</p>
    </div>    
}

<hr />

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to Garage</a>
</div>