@model IEnumerable<Excercise12Garage2.Models.ViewModels.VehicleViewModel>

@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>


<div class="container mt-0">
    <h2> Receipt for @Model.RegistrationNumber </h2>
    <div class="col-md-4">
        <table>
            <tr>
                <td>
                    <b>Arrivale time: </b>
                </td>
            </tr>
            <tr>
                <td>
                    @ViewBag.TimeOfArrival
                </td>
            </tr>
            <tr>
                <td>
                    <b>Total parking time: </b>
                </td>
            </tr>
            <tr>
                <td>
                    @ViewBag.ParkedTime
                </td>
            </tr>
            <tr>
                <td>
                    <b>Total cost: </b>
                </td>
            </tr>
            <tr>
                <td>
                    @ViewBag.Price
                </td>
            </tr>
        </table>

    </div>

</div>
@Html.ActionLink("Back", "Index")


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfArrival)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfArrival)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
