@model Excercise12Garage2.Models.ViewModels.VehicleReceiptViewModel

@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfArrivalAsString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeOfArrivalAsString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfLeavingAsString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeOfLeavingAsString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
