@model Excercise12Garage2.Models.ViewModels.VehicleStatisticsViewModel

@{
    ViewData["Title"] = "Statistics";
}

<h1>Statistics</h1>

<div>
    <h4>VehicleStatisticsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SumOfWheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SumOfWheels)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRevenue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalRevenue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
